<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <style>
        #app {
            height: 100vh;
            display: grid;
        }

        .title {
            margin-top: 20vh;
            text-align: center;
            -ms-text-justify: auto;
            margin-bottom: 12px;
        }

        .botaoAdd {
            margin-bottom: 20px;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-container class="title">Lista de contatos</v-container>
            <v-main>
                <template>
                    <v-row justify="center">
                        <v-dialog v-model="dialog" persistent max-width="600px">
                            <template v-slot:activator="{ on, attrs }">

                                <v-btn color="purple" dark v-bind="attrs" v-on="on" v-if="!editarReally">
                                    +
                                </v-btn>

                                <v-btn color="purple" dark v-bind="attrs" v-on="on" v-else>
                                    Editar
                                </v-btn>
                            </template>
                            <v-card>
                                <v-card-title>
                                    <span class="text-h5">Cadastro de contatos</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" id="form">
                                                <v-text-field label="Insira o nome*" required v-model="contact.name"
                                                    id="form">
                                                </v-text-field>
                                            </v-col>
                                            <v-col cols="12">
                                                <v-col cols="12" sm="6">
                                                    <v-text-field label="Telefone* (xx) xxxx-xxxx" required type="text"
                                                        v-model="contact.numberPhone" id="telefone"
                                                        pattern="\([0-9]{2}\) [0-9]{4}-[0-9]{4}">
                                                    </v-text-field>
                                                </v-col>
                                        </v-row>
                                    </v-container>
                                    <small>*Os campos marcados são obrigatórios</small>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="purple darken-1" text @click="dialog = false">
                                        Cancelar
                                    </v-btn>
                                    <v-btn color="purple darken-1" text @click="dialog = false" v-if="editarReally">
                                        Ok
                                    </v-btn>
                                    <v-btn color="purple darken-1" text v-if="!isEdit" v-show="contact.name.length > 2 "
                                        @click.prevent="saveContact(contact)" @click.prevent="isEmpty()">
                                        Salvar
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-row>
                    <template>
                        <v-simple-table height="300px" width="100px">
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th class="text-left">
                                            Nome
                                        </th>
                                        <th class="text-left">
                                            Telefone
                                        </th>
                                        <th class="text-left">
                                            Editar
                                        </th>
                                        <th class="text-left">
                                            Remover
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="contact in contacts" class="editButton">
                                        <td>{{ contact.name }}</td>
                                        <td><span id="blue">{{ contact.numberPhone }}</span></td>
                                        <td>
                                            <v-btn tile color="success">
                                                <v-icon left>
                                                    mdi-pencil
                                                </v-icon>
                                                <a href="#" @click.prevent="editContact(contact)"
                                                    @click="editarReally=!editarReally">Editar</a>
                                            </v-btn>
                                        </td>
                                        <td>
                                            <v-btn tile color="red" elevation="2"
                                                @click.prevent="removeContact(contact.id)">
                                                <a href="#">Remover</a>
                                            </v-btn>
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </template>
                </template>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        window.onload = function () {
            const app = new Vue({
                el: '#app',
                vuetify: new Vuetify(),
                data: {
                    contacts: [],
                    name: 'Adicione seus contatos',
                    contact: {
                        id: '',
                        name: '',
                        numberPhone: ''
                    },
                    isEdit: false,
                    dialog: false,
                    editarReally: false,
                    phoneNumber: '',
                    objectName: {},
                },
                created() {
                    this.contacts = JSON.parse(localStorage.getItem('contactsApp'))
                },
                watch: {
                    mask() {
                        let input = this.$refs.phone.$refs.input
                        requestAnimationFrame(() => {
                            input.selectionStart = input.value.length
                        })
                    }
                },
                computed: {
                    mask() {
                        switch (true) {
                            case this.phone.length <= 8:
                                return '####-#####'
                            case this.phone.length === 9:
                                return '#####-#####'
                            case this.phone.length === 10:
                                return '(##) ####-#####'
                            default:
                                return '(##) #####-####'
                        }
                    }
                },
                methods: {
                    formatPhoneNumber(propertyName) {
                        var x = this.objectName[propertyName]
                            .replace(/\D/g, "")
                            .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);

                        this.objectName[propertyName] = !x[2] ?
                            x[1] : "(" + x[1] + ") " + x[2] + (x[3] ? "-" + x[3] : "");
                    },

                    saveContact(contact) {
                        let contacts = localStorage.getItem('contactsApp')
                        contact.id = new Date().getTime()

                        if (contacts) {
                            contacts = JSON.parse(contacts)
                            contacts.push(contact)
                        } else {
                            contacts = [contact]
                        }
                        this.contacts = contacts

                        localStorage.setItem('contactsApp', JSON.stringify(contacts))
                        location.reload();
                    },
                    editContact(contact) {
                        this.contact = contact;
                        this.isEdit = true;
                    },
                    removeContact(contactId) {
                        let contacts = localStorage.getItem('contactsApp')
                        if (!contacts) return;

                        contacts = JSON.parse(contacts)

                        contacts = contacts.filter((contact) => {
                            return contact.id != contactId
                        });

                        this.contacts = contacts

                        localStorage.setItem('contactsApp', JSON.stringify(contacts))
                    },
                    IsEmpty() {
                        if (document.getElementById('form').value === '') {
                            alert('empty');
                        }
                    },
                    mascaraTelefone(campo) {
                        function trata(valor, isOnBlur) {
                            valor = valor.replace(/\D/g, "");
                            valor = valor.replace(/^(\d{2})(\d)/g, "($1)$2");
                            if (isOnBlur) {
                                valor = valor.replace(/(\d)(\d{4})$/, "$1-$2");
                            } else {
                                valor = valor.replace(/(\d)(\d{3})$/, "$1-$2");
                            }
                            return valor;
                        }
                        campo.onkeypress = function (evt) {
                            var code = (window.event) ? window.event.keyCode : evt.which;
                            var valor = this.value
                            if (code > 57 || (code < 48 && code != 8)) {
                                return false;
                            } else {
                                this.value = trata(valor, false);
                            }
                        }
                        campo.onblur = function () {
                            var valor = this.value;
                            if (valor.length < 13) {
                                this.value = ""
                            } else {
                                this.value = trata(this.value, true);
                            }
                        }
                        campo.maxLength = 14;
                    },


                    // mask() {
                    //     const phoneNoRef = document.querySelector('#phoneno');
                    //     phoneNoRef.addEventListener('keypress', (evt) => {
                    //         const code = evt.keyCode;
                    //         const val = evt.currentTarget.value;
                    //         const len = val.length;

                    //         if (!((code >= 48 && code <= 57) || code === 8)) {
                    //             evt.preventDefault();
                    //         }
                    //         if (len === 2 || len === 7) {
                    //             evt.currentTarget.value += '-'
                    //         }
                    //     });
                    // },
                    // mascara(o, f) {
                    //     v_obj = o
                    //     v_fun = f
                    //     setTimeout("execmascara()", 1)
                    // },

                    // execmascara() {
                    //     v_obj.value = v_fun(v_obj.value)
                    // },

                    // mtel(v) {
                    //     v = v.replace(/D/g, ""); //Remove tudo o que não é dígito
                    //     v = v.replace(/^(d{2})(d)/g,
                    //         "($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
                    //     v = v.replace(/(d)(d{4})$/,
                    //         "$1-$2"); //Coloca hífen entre o quarto e o quinto dígitos
                    //     return v;
                    // },

                    // id(el) {
                    //     return document.getElementById(el);
                    // },
                    // carregar() {
                    //     id('telefone').onkeypress = function () {
                    //         mascara(this, mtel);
                    //     }
                    // }
                },
            })
        };
    </script>

</body>

</html>